body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #111;
  color: white;
}

h1, h2, h3 {
  color: #00ffe0;
}

button {
  background: #222;
  color: white;
  border: 1px solid #00ffe0;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #00ffe0;
  color: black;
}